    |===
    |Название свойста
    |Тип данных
    |Описание свойства
    |Валидация

    {{#fields}}
        |{{path}}
        |{{type}}
        |{{description}}
        |{{constraints}}

    {{/fields}}
        |===